

/* @font-face {
    font-family: 'Muller';
    src: 
        url('../fonts/MullerRegular.woff') format('woff'),
        url('../fonts/MullerRegular.woff2') format('woff2');
   font-display: swap;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Muller';
    src: 
        url('../fonts/MullerBold.woff') format('woff'),
        url('../fonts/MullerBold.woff2') format('woff2');
        font-display: swap;
    font-weight: bold;
    font-style: normal;
} */



@font-face {
    font-family: 'Sofia Sans';
    src: 
        url('../fonts/sofia-sans-regular.ttf') format('ttf');
   font-display: swap;
    font-weight: normal;
    font-style: normal;

}

html {
    box-sizing: border-box;
  }

:root {
    --primary-text-color: #46B1DE;
    --title-text-color: #1B1D1F;
    /* --accent-color: #2196f3;
    --wite-color: #ffffff;
    --dark-color: #212121;
    --transparent: rgba(255, 255, 255, 0.6);
    --fon-button: F5F4FA; */
  }
  

body {
margin: 0;
box-sizing: border-box;

}

a {
text-decoration: none;
color: black;
}

ul {
padding: 0;
margin: 0;
list-style: none;
}

p {
   margin: 0px;
}



.section-main {
    height: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/img/Rectangle1.jpg);
    background-repeat: no-repeat; 
    overflow-x: hidden;
    background-size: cover; 
    background-position: center;
}
@media(max-width: 480px){
    .section-main {
        height: 568px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(/img/RectangleMobileFoofer.png);
        background-repeat: no-repeat; 
        overflow-x: hidden;
        background-size: cover; 
        background-position: center;
        padding: 34px 10px;
    }
}

.first-screen {
position: absolute;
top: 60px;
left: 50%;
transform: translate(-50%, -50%);
z-index: 2;
}

.header {
display: flex;
justify-content: 
space-between;
align-items: center;
width: 1180px;
height: 91px;
margin-top: 60px;
}
@media(max-width: 992px){
    .header{
      width: 992px;
    }

}

.container {
width: 1180px;
margin: auto;
}

@media(max-width: 992px){
    .container {
      width: 100%;
    }

}

.block-nav {
list-style-type: none;
display: grid;
width: 350px;
grid-template-columns: repeat(3, 1fr);
padding: 0px;
column-gap: 10px;
text-align: center;
margin: 0px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: var(--title-text-color);
}
@media(max-width: 480px){
    .block-nav {
display: none;
    }
}

.block-logo {
display: flex;
align-items: center;
width: 425px;
}
@media(max-width: 992px){
    .block-logo {
 width: 250px;
    }
}

.img-logo{}
    @media(max-width: 480px){
        .img-logo {
  display: none;
        }
    }
.img-logo-zub {

}
@media(min-width: 479px){
    .img-logo-zub {
display: none;
    }
}
/* @media(max-width: 480px){
    .img-logo-zub {
display: flex;
    }
} */

.phone-svg{
width: 24px;
height: 24px;
}
@media(max-width: 480px){
    .phone-svg {
width: 15px;
height: 15px;
    }
}

/* .pnone-svg-mobile {
}
@media(min-width: 479px){
    .pnone-svg-mobile {
display: none;
    }
} */

.title-logo {
font-family: 'Sofia Sans';
font-weight: 400;
font-size: 38px;
line-height: 53px;
/* or 53px */
color: var(--primary-text-color);
padding-left: 8px;
margin: 0px;
}
@media(max-width: 992px){
    .title-logo {
font-size: 26px;
line-height: normal;
    }
}
@media(max-width: 480px){
    .title-logo {
font-style: normal;
font-size: 16.6926px;
line-height: 23px;
    }
}

.title-logo span {
display: block;
font-weight: 400;
font-size: 26.8525px;
line-height: 140%;
}
@media(max-width: 992px){
    .title-logo span {
        display: inline;
        line-height: normal;
        font-size: 24px;
        padding-left: 5px;
    }
}
@media(max-width: 480px){
    .title-logo span {
font-size: 11.5px;
line-height: 16px;
    }
}

.block-phone {
display: flex;
width: 174px;
margin-right: 23px;
}
@media(max-width: 992px){
    .block-phone  {
 
    }

}

.flex-column {
    display: flex;
    
}
@media(max-width: 992px){
    .flex-column {
 flex-direction: column;
 align-items: center;
    }
}


.title-phone {
display: flex;
align-items: center;
margin-left: 5px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: var(--title-text-color);
}
@media(max-width: 480px){
    .title-phone{
font-weight: 400;
font-size: 12px;
line-height: 14px;
    }
}


.language {
align-items: center;
justify-content: space-between;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
width: 77px;
color: var(--title-text-color);
}
@media(max-width: 480px){
    .language {
display: none;
    }
}


.main-block{
    display: flex;
    flex-direction: column;
    width: 1180px;
}
@media(max-width: 992px){
    .main-block{
 align-items: center;
 width: 100%;
     }
    }
    @media(max-width: 480px){
        .main-block {
   text-align: center;
        }
    }

.main-title {
text-transform: uppercase;
margin: 34px 0px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
letter-spacing: 0.1em;
color: var(--title-text-color);
width: 530px;
margin: 0px;
}
@media(max-width: 480px){
    .main-title {
font-weight: 700;
font-size: 22px;
line-height: 29px;
    }
}

.color {
     color:  var(--primary-text-color);
}

.main-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
width: 460px;
color: var(--title-text-color);
margin-top: 30px;
}
@media(max-width: 480px){
    .main-text {
font-weight: 400;
font-size: 12px;
line-height: 17px;
padding: 0px 18px;
    }
}



.connection {
    display: flex;
    width: 1180px;
    margin:  50px auto 0px ;
}
@media(max-width: 992px){
    .connection {
    width: 100%;
    justify-content: space-around;
     }
    }
    @media(max-width: 480px){
        .connection {
margin-bottom: 10px;
         }
        }



.flexed-block {
    display: flex;
    align-items: center;
    justify-content: center;
}


.connection-size {
    width: 175px;
    height: 60px;
}
.call {
    background: linear-gradient(97.59deg, #46B1DE 9.8%, #0591CC 95.1%);
    box-shadow: 0px 2px 10px #46B1DE;
    border-radius: 8px;
    margin-right: 130px;
}

.services {
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 1px solid #DDE0DC;
    box-shadow: 0px 2px 10px #DDE0DC;
    border-radius: 8px;
}

.linc-services{
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 27px;
text-align: center;
color: #46B1DE;
text-transform: uppercase;
}

.linc-call{
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 27px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}

.card-container {
    margin-bottom: 150px;
}
@media(max-width: 480px){
    .card-container {
margin-bottom: 50px;
    }
}


.cards {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    column-gap: 70px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    }
    @media(max-width: 992px){
        .cards {
    grid-template-columns: repeat(3, 250px);
    column-gap: 50px;
        }
    }
    @media(max-width: 480px){
        .cards {
   display: none;
        }
    }

    

.button-number {
height: 120px;
display: flex;
align-items: center;
justify-content: space-around;
background: #FFFFFF;
border: 1px solid #D8E1E1;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
}

.main-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.main-section-title {
margin-bottom: 5px;
margin-top: 0px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 130%;
color: #1B1D1F;
}
@media(max-width: 480px){
    .main-section-title {
        font-size: 22px;
        line-height: 29px;
    }
}
.color-span {
    color: #46B1DE;
}

.professional-paragraph {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #000000; 
}
@media(max-width: 480px){
    .professional-paragraph {
    font-size: 12px;
    line-height: 17px;
    padding: 0px 18px;
    }
}

.number-color {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 65px;
line-height: 76px;
display: flex;
align-items: center;
text-align: center;
color: #46B1DE;
padding: 15px;
}

.text-cards{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #1B1D1F;
padding: 13px;
}
@media(max-width: 992px){
.text-cards {
padding: 0px 5px 0px 0px;
 }
}

.block-lady {
height: 531px;
width: 572px;
background-image: url(../img/Lady1.png); 
background-repeat: no-repeat;
background-position: right;
background-size: cover;
position: absolute;
transform: translate(-50%, -50%);
left: 72%;
top: 87%;
}
@media(max-width: 992px){
    .block-lady {
opacity: 50%;
     }
    }
    @media(max-width: 480px){
        .block-lady {
            opacity: 100%;
            width: 279px;
            height: 285px;
            top: 85%;
            left: 50%;
            object-fit: contain;
  background-image: url(../img/LadyMobileFoofer.png) ;
         }
        }
    

.wrapper-exactly-me {
    max-width: 1020px;
    height: 396px;
    display: grid;
    grid-template-columns:repeat(3,  300px);
    grid-template-rows: repeat(2,  176px);
    align-content: center;
    justify-content: center;
    gap: 12px 40px;
    background: #A1C7D4;
    border-radius: 12px;
  }
  @media(max-width: 992px){
    .wrapper-exactly-me{
  width: 90%;
  height: 100%;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(3,  176px);
  padding: 10px;
     }
    }
    @media(max-width: 480px){
        .wrapper-exactly-me{
      width: 90%;
      height: 100%;
      grid-template-columns: repeat(1, 300px);
      grid-template-rows: repeat(6,  176px);
      padding: 10px;
         }
        }
  
  .grid-1{
    grid-column-start: 1;
  }
  @media(max-width: 480px){
    .grid-1{
        grid-row-start: 1;
        grid-column-start: 1;
     }
    }
  .grid-2{
    grid-column-start: 1;
  }
  @media(max-width: 480px){
    .grid-2{
        grid-row-start: 2;
        grid-column-start: 1;
     }
    }

  .grid-3{
    grid-row-start: 1;
    grid-column-start: 2;
  }
 @media(max-width: 992px){
    .grid-3{
    grid-row-start: 3;
   grid-column-start: 1;
     }
    } 
    @media(max-width: 480px){
        .grid-3{
            grid-row-start: 3;
            grid-column-start: 1;
         }
        }
 

  .grid-4{
    grid-row-start: 2;
    grid-column-start: 2;
  }
  @media(max-width: 992px){
    .grid-4{
  grid-row-start: 1;
  grid-column-start: 2;
     }
    } 
    @media(max-width: 480px){
        .grid-4{
            grid-row-start: 4;
            grid-column-start: 1;
         }
        }
 
  .grid-5{
    grid-row-start: 1;
    grid-column-start: 3;
  }

  @media(max-width: 992px){
    .grid-5{
    grid-row-start: 2;
    grid-column-start: 2;
     }
    } 
    @media(max-width: 480px){
        .grid-5{
            grid-row-start: 5;
            grid-column-start: 1;
         }
        }

    @media(max-width: 992px){
        .grid-6{
    grid-row-start: 3;
    grid-column-start: 2;
            }
        } 
        @media(max-width: 480px){
            .grid-6{
                grid-row-start: 6;
                grid-column-start: 1;
             }
            }

.table-card {
    padding: 10px 20px;
    border-radius: 8px;
    background: #FFFFFF;
}

.block-table-number {
display: flex;
align-items: center;
margin-bottom: 25px;
}

.table-number {
margin-right: 10px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 47px;
/* display: flex;
align-items: center; */
text-align: center;
color: #46B1DE;

}

.table-number-plac {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #46B1DE;
}


.task{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #1B1D1F;
}

.registration{
width: 845px;
height: 265px;
background: #FFFFFF;
border: 1px solid #D9D9D9;
margin-top: 87px;
margin-bottom: 90px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
@media(max-width: 480px){
    .registration{
    width: 90%;
    height: 100%;
    margin-top: 50px;
 margin-bottom: 50px;
     }
    }

.registration-form {
    width: 821px;
    height: 247px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    backdrop-filter: blur(2px);
    border-radius: 10px;  
}
@media(max-width: 480px){
    .registration-form{
    width: 90%;
    height: 100%;
    margin: 10px;
     }
    }


.make {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 42px;
text-align: center;
text-transform: uppercase;
color: #1B1D1F;
margin: 29px auto 7px;
}
@media(max-width: 480px){
    .make{
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
     }
    }


.fill-out-the-text{
display: block;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #1B1D1F;
}
@media(max-width: 480px){
    .fill-out-the-text{
        font-size: 12px;
        line-height: 17px;
     }
    }


.form-direction{
    display: flex;
    align-items: center;
    margin: 45px 20px;
}
@media(max-width: 480px){
    .form-direction{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 253px;
     }
    }

.form-title {
    position: relative;
    width: 233px;
    height: 57px;
    background: rgba(217, 217, 217, 0.71);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 18px;
}




.form-title:not(:last-child){
    margin-right: 70px;
}
@media(max-width: 480px){
    .form-title:not(:last-child){
      margin-right: 0px;
     }
    }
  

.svg-user {
    fill: #000000;
    position: absolute;
    top: 15%;
    left: 0%;
    display: inline-block;
    margin: 7px 10px;
    padding: 0;
}
.hatch{
position: absolute;
width: 30px;
height: 0px;
left: 34px;
top: 50%;
border: 1px solid #000000;
transform: rotate(90deg);
}

.input-title {
    font: inherit;
    width: 160px;
    height: 100%;
    padding-left: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 27px;
    border: none;
    outline: none;
    background: none;
    color: rgba(27, 29, 31, 0.51);
}

.form-submit {
    width: 180px;
    height: 57px;
    background: #46B1DE;
    border-radius: 8px;
    border: none;
    padding: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;

}

.gallery { 
display: flex;
align-items: center;
justify-content: space-between;
width: 980px;
height: 130px;
margin: auto;
margin-bottom: 90px;
}

@media(max-width: 992px){
    .gallery{
width: 100%;
display: flex;
justify-content: space-around;
     }
    }
    @media(max-width: 480px){
        .gallery{
    display: none;
         }
        }

.section {
    display: flex;
    max-width: 1400px;
    height: 400px;
    margin: auto;    
    padding: 60px 10px 10px 110px;
    background: linear-gradient(115deg, rgba(133,188,204,0.9023984593837535) 30%, rgba(70,177,222,1) 67%);
}
@media(max-width: 992px){
    .section {
   padding: 15px;
     }
    }
    @media(max-width: 480px){
        .section {
   display: block;
   width: 100%;
   height: 568px;
   padding: 30px 10px;
         }
        }
    

.block-services {
     width: 100%;
}
@media(max-width: 480px){
    .block-services {
width: 100%;
     }
    }

.block-logo-footer{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.img-logo-footer{
    width: 77.57px;
    height: 80.56px;
    margin-right: 10px;
}
@media(max-width: 480px){
    .img-logo-footer {
        width: 55px;
        height: 57px;
        margin-right: 5px;
     }
    }


.title-logo-footer{
    margin: 0px;
    font-family: 'Sofia Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 38.7869px;
    line-height: 54px;
    color: #0F2D4A;
}
@media(max-width: 480px){
    .title-logo-footer {
    font-size: 27px;
    line-height: 38px;
     }
    }
    @media(max-width: 480px){
        .title-logo-footer br {
      font-size: 19.1523px;
    line-height: 27px;
         }
        }
    
.flex{
    display: flex;
}
@media(max-width: 480px){
    .flex{
display: none;
    }
}

.flex-home{
    display: flex;
}



.home {
width: 50%;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #0F2D4A;
padding: 0px;
}
@media(max-width: 480px){
    .home{
font-size: 14px;
line-height: 19px;
    }
}



.working {
width: 50%;

}

.working p b{
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #0F2D4A;
margin-bottom: 7px;
}
@media(max-width: 480px){
    .working p b{
font-size: 14px;
line-height: 17px;
    }
}


.working p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #0F2D4A;
}
@media(max-width: 480px){
    .working p{
        font-size: 14.2648px;
        line-height: 19px;
    }
}

.working p:first-child{
    margin-bottom: 7px;
}

.block-contacts {
    width: 50%;
}
@media(max-width: 992px){
    .block-contacts {
        padding-left: 40px;
     }
    }
    @media(max-width: 480px){
        .block-contacts {
            width: 100%;
            padding-top: 44px;
            padding-left: 0px;
         }
        }

.home p:not( :last-child )  {
    margin-bottom: 27px;
}
.contacts {
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
    color: #FFFFFF;
    margin-left: 10px;
    margin-bottom: 20px;
}
@media(max-width: 480px){
    .contacts{
     font-size: 21px;
     line-height: 25px;
    }
}

.contacts-nikola {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #FFFFFF;
margin-bottom: 15px;
}
@media(max-width: 480px){
    .contacts-nikola{
     font-size: 21px;
     line-height: 25px;
     margin-bottom: 13px;
    }
}

.contacts-address {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #FFFFFF;
margin-bottom: 20px;
}
@media(max-width: 480px){
    .contacts-address{
   font-size: 17.1613px;
   line-height: 23px;
    }
}


.title-icons-footer {
display: flex;
flex-direction: row;
align-items: center;
color: white;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #FFFFFF;
margin-bottom: 10px;
}
@media(max-width: 480px){
    .title-icons-footer {
 font-size: 17.1613px;
 line-height: 23px;
     }
 }



.img-margin {
    margin-right: 15px;
}
@media(max-width: 480px){
   .title-icons-footer .img-margin{
  width: 24px;
  height: 24px;
  margin-right: 12px;
    }
}

@media(max-width: 480px){
    .title-icons-footer .img-margin.email{
   width: 27px;
   height: 27px;
   margin-right: 12px;
     }
 }

.icons-footer{
    display: flex;
}
@media(max-width: 480px){
    .icons-footer{
 display: none;
    }
}

.copyright {
display: flex;
justify-content: center;
color: white;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 17px;
}
@media(max-width: 480px){
    .copyright{
 font-size: 11.1548px;
 line-height: 15px;
padding-top: 26px;
    }
}



.wrapper{
    background-color:#ffe4c4;
    max-width: 300px;
    height: 200px;
    border: 2px solid #000;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
gap: 20px 20px;
  }


  .wrapper div{
    padding: 20px;
    border: 2px solid #000;
    text-align: center;
  }
  .box-1{
   /* grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: span 3; */
  }
  .box-2{
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: span 2; */
   } 

   .box-3{

   }
.box-4{

}
  /* .box-1{grid-column-start: span 3;;}
.box-2{grid-column-start: span 3;;}
.box-4{grid-column-start: span 3;} */
  /* .grid-1{
    grid-column-start: 1;
  }
  .grid-2{
grid-column-start: 1;
  }
  .grid-3{
grid-row-start: 1;
grid-column-start: 2;
  }
  .grid-4{
    grid-row-start: 2;
    grid-column-start: 2;
  }
  .grid-5{
    grid-row-start: 1;
    grid-column-start: 3;
  }
  .grid-6{

  } */


  