

/* @font-face {
    font-family: 'Muller';
    src: 
        url('../fonts/MullerRegular.woff') format('woff'),
        url('../fonts/MullerRegular.woff2') format('woff2');
   font-display: swap;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Muller';
    src: 
        url('../fonts/MullerBold.woff') format('woff'),
        url('../fonts/MullerBold.woff2') format('woff2');
        font-display: swap;
    font-weight: bold;
    font-style: normal;
} */



@font-face {
    font-family: 'Sofia Sans';
    src: 
        url('../fonts/sofia-sans-regular.ttf') format('ttf');
    font-display: swap;
    font-weight: normal;
    font-style: normal;

}

html {
    box-sizing: border-box;
  }

:root {
    --primary-text-color: #46B1DE;
    --title-text-color: #1B1D1F;
  }
  

body {
margin: 0px;
padding: 0px;
box-sizing: border-box;

}

a {
text-decoration: none;
color: black;
}

ul {
padding: 0;
margin: 0;
list-style: none;
}

p {
   margin: 0px;
}



.section-main {
    height: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/img/Rectangle1.jpg);
    background-repeat: no-repeat; 
    overflow-x: hidden;
    background-size: cover; 
    background-position: center;
}
@media(max-width: 480px){
    .section-main {
        height: 568px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(/img/RectangleMobileFoofer.png);
        background-repeat: no-repeat; 
        overflow-x: hidden;
        background-size: cover; 
        background-position: center;
        padding: 34px 10px;
    }
}

.first-screen {
position: absolute;
top: 60px;
left: 50%;
transform: translate(-50%, -50%);
z-index: 2;
}

.header {
position: relative;
display: flex;
justify-content: 
space-between;
align-items: center;
width: 1180px;
height: 91px;
margin-top: 60px;
}
@media(max-width: 992px){
    .header{
      width: 992px;
    }

}

.container {
width: 1180px;
margin: auto;
}

@media(max-width: 992px){
    .container {
      width: 100%;
    }
}
@media(max-width: 480px){
    .container {
      width: 300px;
    }
}

.block-nav {
list-style-type: none;
display: grid;
width: 350px;
grid-template-columns: repeat(3, 1fr);
padding: 0px;
column-gap: 10px;
text-align: center;
margin: 0px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: var(--title-text-color);
}
@media(max-width: 480px){
    .block-nav {
display: none;
    }
}

.block-logo {
display: flex;
align-items: center;
width: 425px;
}
@media(max-width: 992px){
    .block-logo {
 width: 250px;
    }
}


    @media(max-width: 480px){
        .img-logo {
  display: none;
        }
    }

@media(min-width: 479px){
    .img-logo-zub {
display: none;
    }
}

/* псевдоэлемент дз 14 *******************************32*/
.items a{
    color: var(--title-text-color);
    cursor: pointer;
}
.items a:hover{
color: var(--primary-text-color);

}
/* end */

.phone-svg{
width: 24px;
height: 24px;
}
@media(max-width: 480px){
    .phone-svg {
width: 15px;
height: 15px;
    }
}


.title-logo {
font-family: 'Sofia Sans';
font-weight: 400;
font-size: 38px;
line-height: 53px;
color: var(--primary-text-color);
padding-left: 8px;
margin: 0px;
}
@media(max-width: 992px){
    .title-logo {
font-size: 26px;
line-height: normal;
    }
}
@media(max-width: 480px){
    .title-logo {
font-style: normal;
font-size: 16.6926px;
line-height: 23px;
    }
}

.title-logo span {
display: block;
font-weight: 400;
font-size: 26.8525px;
line-height: 140%;
}
@media(max-width: 992px){
    .title-logo span {
        display: inline;
        line-height: normal;
        font-size: 24px;
        padding-left: 5px;
    }
}
@media(max-width: 480px){
    .title-logo span {
font-size: 11.5px;
line-height: 16px;
    }
}

.block-phone {
display: flex;
width: 174px;
margin-right: 23px;
}
@media(max-width: 992px){
    .block-phone  {
 
    }
}
@media(max-width: 480px){
    .block-phone  {
 margin-right: 0px;
 width: 130px;
 height: 30px;
    }
}

.flex-column {
    display: flex;
    
}
@media(max-width: 992px){
    .flex-column {
 flex-direction: column;
 align-items: center;
    }
}


/* .title-phone {
display: flex;
align-items: center;
margin-left: 5px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: var(--title-text-color);
}
@media(max-width: 480px){
    .title-phone{
font-weight: 400;
font-size: 12px;
line-height: 14px;
    }
} */

/* дз15 burger*********************************** 36 */

  .burger:hover {
    cursor: pointer;
  }
  
  .burger {
    display: block;
    height: 11px;
    width: 15px;
    position: absolute;
    top: 56px;
    right: 0px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
 
  
  .burger .line {
    display: none;
    height: 1px;
    width: 100%;
    border-radius: 10px;
    background: #1B1D1F;
  }
 
    @media(max-width: 480px){
        .burger .line {
            display: block;
        }
    }

  
  .burger .line--1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .burger .line--2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .burger .line--3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  
  .burger:active .line--1 {
    transform: rotate(45deg);
    background-color: var(--primary-text-color);
  }

  .burger:active .line--2 {
    transform: scaleY(0);
    width: 0px;
  }
  
  .burger:active .line--3 {
    transform: rotate(-45deg);
   background-color: var(--primary-text-color);
  }
 
/* псевдоэлемент дз 14 *******************************32*/
.title-phone{
position: relative;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: var(--title-text-color);
left: 26px;
}
@media(max-width: 480px){
    .title-phone{
font-weight: 400;
font-size: 12px;
line-height: 14px;
    }
}
.title-phone::before{
    position: absolute;
    content: "";
    background-image: url(../img/phone.svg);
    fill: #1B1D1F;
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    left: -26px; 
}
@media(max-width: 992px){
    .title-phone::before{
        width: 15px;
        height: 15px;
        left: -20px; 
        top: 3px;
    }
}
@media(max-width: 480px){
    .title-phone::before{
        width: 11px;
        height: 11px;
        left: -15px;
        top: 1px;
    }
}



.language {
position: relative;
align-items: center;
justify-content: space-between;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
width: 77px;
color: var(--title-text-color);
}
@media(max-width: 480px){
    .language {
display: none;
    }
}
/* псевдоэлемент дз 14 *******************************38*/
.language li:nth-child(1)::after{
    content: "";
    position: absolute;
    width: 0px;
    height: 22px;
    border: 1px solid #1B1D1F;
    top: -3px;
    left: 37px;

}
/* end */

.main-block{
    display: flex;
    flex-direction: column;
    width: 1180px;
}
@media(max-width: 992px){
    .main-block{
 align-items: center;

     }
    }
    @media(max-width: 480px){
        .main-block {
   text-align: center;
        }
    }

/* *15 ******  .animation**************************/
  
  .main-animation{
    position: relative;
    height: 362px;
  }
  .main-title{
    position: absolute;
    top: 0px;
   animation: main-title--animation 1s ease-out  normal 0s;
  }
  @keyframes main-title--animation{
    0%{
    top: 200px;
    opacity: 0;
    }
    100%{
    top: 0px;
    opacity: 1;
    }
}
.main-text{
    position: absolute;
    top: 188px;
    opacity: 0;
    animation: main-text--animation 1s ease-out  normal 0.3s forwards;
}
@keyframes main-text--animation{
    0%{
    top: 300px;
    opacity: 0;
    }
    100%{
    top: 188px;
    opacity: 1;
    }
}
@media(max-width: 480px){
    @keyframes main-text--animation{
        0%{
        top: 300px;
        opacity: 0;
        }
        100%{
        top: 80px;
        opacity: 1;
        }
    }
}

.connection{
    position: absolute;
    top: 302px;
    opacity: 0;
    animation: connection--animation 1s ease-out  normal 0.3s forwards;
}
@keyframes connection--animation{
    0%{
    top: 348px;
    opacity: 0;
    }
    100%{
    top: 302px;
    opacity: 1;
    }
}
@media(max-width: 480px){
    @keyframes connection--animation{
        0%{
        top: 348px;
        opacity: 0;
        }
        100%{
        top: 150px;
        opacity: 1;
        }
    }
}

/* end */

.main-title {
text-transform: uppercase;
margin: 34px 0px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
letter-spacing: 0.1em;
color: var(--title-text-color);
width: 530px;
margin: 0px;
}
@media(max-width: 480px){
    .main-title {
font-weight: 700;
font-size: 22px;
line-height: 29px;
    }
}

.color {
     color:  var(--primary-text-color);
}

.main-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
width: 460px;
color: var(--title-text-color);
margin-top: 30px;
}
@media(max-width: 480px){
    .main-text {
width: 30%;
font-weight: 400;
font-size: 12px;
line-height: 17px;
padding: 0px 18px;
    }
}



.connection {
    display: flex;
    width: 1180px;
    margin:  50px auto 0px ;
}
@media(max-width: 992px){
    .connection {
    width: 100%;
    justify-content: space-around;
     }
    }
    @media(max-width: 480px){
        .connection {
     margin-bottom: 10px;
     justify-content: center;
         }
        }



.flexed-block {
    display: flex;
    align-items: center;
    justify-content: center;
}


.connection-size {
    width: 175px;
    height: 60px;
}
@media(max-width: 480px){
    .connection-size {
    width: 100px;
    height: 53px;
     }
    }

.call {
    background: linear-gradient(97.59deg, #46B1DE 9.8%, #0591CC 95.1%);
    box-shadow: 0px 2px 10px #46B1DE;
    border-radius: 8px;
    margin-right: 130px;
}
@media(max-width: 480px){
    .call {

     }
    }

.services {
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 1px solid #DDE0DC;
    box-shadow: 0px 2px 10px #DDE0DC;
    border-radius: 8px;
}

.linc-services{
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 27px;
text-align: center;
color: #46B1DE;
text-transform: uppercase;
}

.linc-call{
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 27px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}

.card-container {
    margin-bottom: 150px;
}
@media(max-width: 480px){
    .card-container {
margin-bottom: 50px;
    }
}


.cards {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    column-gap: 70px;
    position: absolute;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 3;
    }
    @media(max-width: 992px){
        .cards {
    grid-template-columns: repeat(3, 214px);
    column-gap: 30px;
        }
    }
    @media(max-width: 480px){
        .cards {
   display: none;
        }
    }
/* ******************************15 */
 .cards{
    animation-name: cards-animation;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
    opacity: 0;
 }
 @keyframes cards-animation{
    0% {
        left: 10%;
        opacity: 0;
    }
    100% {
        left: 60%;
        opacity: 1;
    }
 }
    

.button-number {
height: 120px;
display: flex;
align-items: center;
justify-content: space-around;
background: #FFFFFF;
border: 1px solid #D8E1E1;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
}

.main-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.main-section-title {
margin-bottom: 5px;
margin-top: 0px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 130%;
color: #1B1D1F;
}
@media(max-width: 480px){
    .main-section-title {
        font-size: 22px;
        line-height: 29px;
    }
}
.color-span {
    color: #46B1DE;
}

.professional-paragraph {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #000000; 
}
@media(max-width: 480px){
    .professional-paragraph {
    font-size: 12px;
    line-height: 17px;
    padding: 0px 18px;
    }
}

.number-color {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 65px;
line-height: 76px;
display: flex;
align-items: center;
text-align: center;
color: #46B1DE;
padding: 15px;
}

.text-cards{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #1B1D1F;
padding: 13px;
}
@media(max-width: 992px){
.text-cards {
padding: 0px 5px 0px 0px;
 }
}

.block-lady {
height: 531px;
width: 572px;
background-image: url(../img/Lady1.png); 
background-repeat: no-repeat;
background-position: right;
background-size: cover;
position: absolute;
transform: translate(-50%, -50%);
left: 72%;
top: 564px;
}
@media(max-width: 992px){
    .block-lady {
opacity: 50%;
     }
    }
    @media(max-width: 480px){
        .block-lady {
            opacity: 100%;
            width: 279px;
            height: 285px;
            top: 494px;
            left: 50%;
            object-fit: contain;
  background-image: url(../img/LadyMobileFoofer.png) ;
         }
        }
    

.wrapper-exactly-me {
    max-width: 1020px;
    height: 396px;
    display: grid;
    grid-template-columns:repeat(3,  300px);
    grid-template-rows: repeat(2,  176px);
    align-content: center;
    justify-content: center;
    gap: 12px 40px;
    background: #A1C7D4;
    border-radius: 12px;
  }
  @media(max-width: 992px){
    .wrapper-exactly-me{
  width: 90%;
  height: 100%;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(3,  176px);
  padding: 10px;
     }
    }
    @media(max-width: 480px){
        .wrapper-exactly-me{
      width: 90%;
      height: 100%;
      grid-template-columns: repeat(1, 270px);
      grid-template-rows: repeat(6,  176px);
      padding: 10px;
         }
        }
  
  .grid-1{
    grid-column-start: 1;
  }
  @media(max-width: 480px){
    .grid-1{
        grid-row-start: 1;
        grid-column-start: 1;
     }
    }
  .grid-2{
    grid-column-start: 1;
  }
  @media(max-width: 480px){
    .grid-2{
        grid-row-start: 2;
        grid-column-start: 1;
     }
    }

  .grid-3{
    grid-row-start: 1;
    grid-column-start: 2;
  }
 @media(max-width: 992px){
    .grid-3{
    grid-row-start: 3;
   grid-column-start: 1;
     }
    } 
    @media(max-width: 480px){
        .grid-3{
            grid-row-start: 3;
            grid-column-start: 1;
         }
        }
 

  .grid-4{
    grid-row-start: 2;
    grid-column-start: 2;
  }
  @media(max-width: 992px){
    .grid-4{
  grid-row-start: 1;
  grid-column-start: 2;
     }
    } 
    @media(max-width: 480px){
        .grid-4{
            grid-row-start: 4;
            grid-column-start: 1;
         }
        }
 
  .grid-5{
    grid-row-start: 1;
    grid-column-start: 3;
  }

  @media(max-width: 992px){
    .grid-5{
    grid-row-start: 2;
    grid-column-start: 2;
     }
    } 
    @media(max-width: 480px){
        .grid-5{
            grid-row-start: 5;
            grid-column-start: 1;
         }
        }

    @media(max-width: 992px){
        .grid-6{
    grid-row-start: 3;
    grid-column-start: 2;
            }
        } 
        @media(max-width: 480px){
            .grid-6{
                grid-row-start: 6;
                grid-column-start: 1;
             }
            }

 /****** Services-provides section *****/

 .services-provides{
    display: flex;
    align-items: center;
 }
 @media(max-width: 992px){
    .services-provides{
   position: relative;
   display: flex;
   justify-content: space-between;
        }
    } 
    @media(max-width: 480px){
        .services-provides{
             flex-wrap: wrap;
            flex-direction: row; 
            justify-content: center;
            background: #A1C7D4;
            border-radius: 12px;
            width: 90%;
            height: 1060px;
            
         }
        }
.service-provide-title{
margin-bottom: 0px;
margin-top: 90px;
text-align: center;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 40px;
color: #1B1D1F;
}

.service-provide-title span{
    color: var( --primary-text-color);
}

.wrapper-service-provide-left{
    /* ***15 */
    position: relative;
    height: 403px;
    margin-top: 50px;
    /* end */
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 50px;
}
@media(max-width: 992px){
    .wrapper-service-provide-left{
  align-items: center;
    } 
}
@media(max-width: 480px){
    .wrapper-service-provide-left{
        margin-top: -90px;
 
    } 
}

.wrapper-service-provide-left div:nth-child(2){
    margin-right: 50px;
}
@media(max-width: 992px){
    .wrapper-service-provide-left div:nth-child(2){
    margin-right: 50px;
        }
    } 
    @media(max-width: 480px){
        .wrapper-service-provide-left div:nth-child(2){
            margin-right: 0px;
         }
        }

  
.service-provide{
width: 338px;
height: 112px;
}
@media(max-width: 992px){
    .service-provide{
   width: 250px;
        }
    } 
    @media(max-width: 480px){
        .service-provide{
       height: 100%;
       padding: 10px 0px;
       margin-bottom: 20px;
       background-color: white;
       border-radius: 8px;
         }
        }

.service-provide:not(:last-child){
    margin-bottom: 30px;
}

/* 15******** ************************************************/

.service-provide--1{
    position: absolute;
    top: 30px;
    left: 70px;
    animation: service-provide--1_animation 1s ease-in-out 1  6s;
}
@media(max-width: 480px){
    .service-provide--1{
  position: static;
  animation: none;
     }
    }

@keyframes service-provide--1_animation{
    0%{
top: -100px;
left: -100px;
opacity: 0;
    }
    100%{
top: 30px;
left: 70px;
opacity: 1;
    }
}
.service-provide--2{
    position: absolute;
    top: 193px;
    left: 20px;
    animation: service-provide--2_animation 1s ease-in-out  1 6s;
}
@media(max-width: 480px){
    .service-provide--2{
        position: static;
        animation: none;
     }
    }
@keyframes service-provide--2_animation{
    0%{
left: -100px;
opacity: 0;
    }
    100%{
top: 193px;
left: 20px;
opacity: 1;
    }
}
.service-provide--3{
    position: absolute;
    top: 350px;
    left: 130px;
    animation: service-provide--3_animation 1s ease-in-out  1 6s;
}
@media(max-width: 480px){
    .service-provide--3{
    position: static;
    animation: none;
     }
    }
@keyframes service-provide--3_animation{
    0%{
top: 450px;
left: -100px;
opacity: 0;
    }
    100%{
top: 350px;
left: 130px;
opacity: 1;
    }
}


/* *********** end */

.service-provide-left-title{
margin: 0px 0px 5px 0px;
text-align: right;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
color: var( --primary-text-color)
}
@media(max-width: 992px){
    .service-provide-left-title{

        }
    } 
    @media(max-width: 480px){
        .service-provide-left-title{
        text-align: center;
         }
        }
.service-provide-left-paragraph{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: right;
color: var(--title-text-color);
}
@media(max-width: 992px){
    .service-provide-left-paragraph{

        }
    } 
    @media(max-width: 480px){
        .service-provide-left-paragraph{
      text-align: center;
         }
        }
.radius{
    position: relative;
    width: 302px;
    height: 302px;
    display: flex;
    justify-content: center;
    align-items: center;
     border-radius: 50%;
    border: 1px solid #1B1D1F
}
@media(max-width: 992px){
    .radius{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 50%;
        }
    } 
    @media(max-width: 480px){
        .radius{
          display: none;
         }
        }

     /* *************15 */
.radius-point{
position: absolute;
width: 24px;
height: 24px;
background-color: var( --primary-text-color);
border-radius: 50%;
left: -12px;
transform-origin: 163px 50%;
}
.radius-point{
    animation-name: radius-point-animation;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: 6s;
}
@keyframes radius-point-animation{
    0%{
        left: 139px;
        transform-origin: 0 0;
    }
    100%{
        left: -12px;
        transform-origin: 163px 50%;
    }
}
/* ************ end */

.radius-point--1{
    transform: rotate(60deg);
}
.radius-point--1::after{
    content: "+";
    position: absolute;
    left: 8px;
    top: 4px;
    transform: rotate(120deg);
    color:  #FFFFFF;
}

.radius-point--2{
    transform: rotate(120deg);
}
.radius-point--2::after{
    content: "+";
    position: absolute;
    left: 8px;
    top: 3px;
    transform: rotate(60deg);
    color:  #FFFFFF;
}
.radius-point--3{
    transform: rotate(180deg);
}
.radius-point--3::after{
    content: "+";
    position: absolute;
    left: 8px;
    top: 2px;
    transform: rotate(0deg);
    color:  #FFFFFF;
}

.radius-point--4{
    transform: rotate(240deg);
}
.radius-point--4::after{
    content: "+";
    position: absolute;
    left: 8px;
    top: 2px;
    transform: rotate(30deg);
    color:  #FFFFFF;
}
.radius-point--5{
    transform: rotate(300deg);
}
.radius-point--5::after{
    content: "+";
    position: absolute;
    left: 8px;
    top: 2px;
    transform: rotate(60deg);
    color:  #FFFFFF;
}
.radius-point--6::after{
    content: "+";
    position: absolute;
    left: 7px;
    top: 2px;
    transform: rotate(0deg);
    color:  #FFFFFF;
}
.big-tooth{
    width: 180px;
    height: 162px;
}
@media(max-width: 992px){
    .big-tooth{
    width: 302px;
    height: 302px;
        }
    } 
    @media(max-width: 480px){
        .big-tooth{
          display: none;
         }
        }
.wrapper-service-provide-right{
    /* 15 */
    position: relative;
    height: 403px;
    margin-top: 50px;
    /* end */
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
@media(max-width: 480px){
    .wrapper-service-provide-right{
        margin-top: -30px;

     }
    }
.wrapper-service-provide-right div:nth-child(2){
    margin-left: 50px;
}
@media(max-width: 480px){
    .wrapper-service-provide-right div:nth-child(2){
   margin-left: 0px;
     }
    }
    /* ***************************15 */

    .service-provide--4{
        position: absolute;
        top: 30px;
        right: 70px;
        animation: service-provide--4_animation 1s ease-in-out  1 6s;
    }
    @keyframes service-provide--4_animation{
        0%{
    top: -100px;
    right: -100px;
    opacity: 0;
        }
        100%{
    top: 30px;
    right: 70px;
    opacity: 1;
        }
    }
    @media(max-width: 480px){
        .service-provide--4{
        position: static;
        animation: none;
         }
        }
    .service-provide--5{
        position: absolute;
        top: 193px;
        right: 20px;
        animation: service-provide--5_animation 1s ease-in-out  1 6s;
    }
    @keyframes service-provide--5_animation{
        0%{
    right: -100px;
    opacity: 0;
        }
        100%{
    top: 193px;
    right: 20px;
    opacity: 1;
        }
    }

    @media(max-width: 480px){
        .service-provide--5{
        position: static;
        animation: none;
         }
        }
    .service-provide--6{
        position: absolute;
        top: 367px;
        right: 137px;
        animation: service-provide--6_animation 1s ease-in-out  1 6s;
    }
    @keyframes service-provide--6_animation{
        0%{
    top: 450px;
    right: -100px;
    opacity: 0;
        }
        100%{
    top: 367px;
    right: 137px;
    opacity: 1;
        }
    }
    @media(max-width: 480px){
        .service-provide--6{
        position: static;
        animation: none;
         }
        }

    /* *****************end */
.service-provide-right-title{
margin: 0px 0px 5px 0px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;
color: var( --primary-text-color)
}
@media(max-width: 992px){
    .service-provide-right-title{

        }
    } 
    @media(max-width: 480px){
        .service-provide-right-title{
        text-align: center;
         }
        }
.service-provide-right-paragraph{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: var(--title-text-color)
}
@media(max-width: 992px){
    .service-provide-right-paragraph{

        }
    } 
    @media(max-width: 480px){
        .service-provide-right-paragraph{
        text-align: center;
         }
        }

/***** section notifications *****/
.notifications{
   margin-top: 60px;
   margin-bottom: 88px;
}
.notification{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width: 480px){
    .notification{
flex-direction: column;
text-align: center;
padding: 0px 20px;
     }
    }



.notification-trigon{
    width: 105px;
    height: 103px;
    background: url(../img/attention-icon.png);
    margin-right: 16px;
}
.notification-message{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
color: var( --primary-text-color)
}
.border{
    width: 0px; 
    height: 0px; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #46B1DE;}

.table-card {
    padding: 10px 20px;
    border-radius: 8px;
    background: #FFFFFF;
}

.block-table-number {
display: flex;
align-items: center;
margin-bottom: 25px;
}

.table-number {
margin-right: 10px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 47px;
/* display: flex;
align-items: center; */
text-align: center;
color: #46B1DE;

}

.table-number-plac {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #46B1DE;
}


.task{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #1B1D1F;
}

.registration{
width: 845px;
height: 265px;
background: #FFFFFF;
border: 1px solid #D9D9D9;
margin-top: 87px;
margin-bottom: 90px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
@media(max-width: 480px){
    .registration{
    width: 70%;
    height: 100%;
    margin-top: 50px;
 margin-bottom: 50px;
     }
    }

.registration-form {
    width: 821px;
    height: 247px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    backdrop-filter: blur(2px);
    border-radius: 10px;  
}
@media(max-width: 480px){
    .registration-form{
    width: 90%;
    height: 100%;
    margin: 10px;
     }
    }


.make {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 42px;
text-align: center;
text-transform: uppercase;
color: #1B1D1F;
margin: 29px auto 7px;
}
@media(max-width: 480px){
    .make{
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
     }
    }


.fill-out-the-text{
display: block;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #1B1D1F;
}
@media(max-width: 480px){
    .fill-out-the-text{
        font-size: 12px;
        line-height: 17px;
     }
    }


.form-direction{
    display: flex;
    align-items: center;
    margin: 45px 20px;
}
@media(max-width: 480px){
    .form-direction{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 253px;
     }
    }

.form-title {
    position: relative;
    width: 233px;
    height: 57px;
    background: rgba(217, 217, 217, 0.71);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 18px;
}

.form-title:not(:last-child){
    margin-right: 70px;
}
@media(max-width: 480px){
    .form-title:not(:last-child){
      margin-right: 0px;
     }
    }
    /* *********14 */
    .form-title:hover{
        border: 2px solid var(--primary-text-color);
        cursor: pointer;
    }

  

.svg-user {
    fill: #000000;
    position: absolute;
    top: 15%;
    left: 0%;
    display: inline-block;
    margin: 7px 10px;
    padding: 0;
}
.hatch{
position: absolute;
width: 30px;
height: 0px;
left: 34px;
top: 50%;
border: 1px solid #000000;
transform: rotate(90deg);
}

.input-title {
    font: inherit;
    width: 160px;
    height: 100%;
    padding-left: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 27px;
    border: none;
    outline: none;
    background: none;
    color: rgba(27, 29, 31, 0.51);
}

.form-submit {
    width: 180px;
    height: 57px;
    background: #46B1DE;
    border-radius: 8px;
    border: none;
    padding: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;

}

.gallery { 
display: flex;
align-items: center;
justify-content: space-between;
width: 980px;
height: 130px;
margin: auto;
margin-bottom: 90px;
}

@media(max-width: 992px){
    .gallery{
width: 100%;
height: 100%;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
     }
    }
    @media(max-width: 480px){
        .gallery{
   margin-bottom: 30px;
         }
        }

.gallery picture{
    margin-bottom: 10px;
}
.section {
    display: flex;
    max-width: 1400px;
    height: 400px;
    margin: auto;    
    padding: 60px 10px 10px 110px;
    background: linear-gradient(115deg, rgba(133,188,204,0.9023984593837535) 30%, rgba(70,177,222,1) 67%);
}
@media(max-width: 992px){
    .section {
        padding: 30px 15px;
        box-sizing: border-box;
     }
    }
    @media(max-width: 480px){
        .section {
   display: block;
   height: 568px;
   padding: 30px 10px;
         }
        }
    

.block-services {
     width: 100%;
}
@media(max-width: 480px){
    .block-services {
width: 100%;
     }
    }

.block-logo-footer{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: 435px;
}

.img-logo-footer{
    width: 77.57px;
    height: 80.56px;
    margin-right: 10px;
}
@media(max-width: 480px){
    .img-logo-footer {
        width: 55px;
        height: 57px;
        margin-right: 5px;
     }
    }


.title-logo-footer{
    flex-direction: column;
    display: flex;
    margin: 0px;
    font-family: 'Sofia Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 38.7869px;
    line-height: 54px;
    color: #0F2D4A;
}
@media(max-width: 992px){
    .title-logo-footer {
   line-height: 31px;
   font-size: 30.7869px;
     }
    }
@media(max-width: 480px){
    .title-logo-footer {
    font-size: 24px;
    line-height: 25px;
     }
    }
 

.title-logo-footer span{
font-size: 19.1523px;
line-height: 27px;
}

@media(max-width: 480px){
    .title-logo-footer span {
font-size: 19.1523px;
line-height: 27px;
     }
    }

.flex{
    display: flex;
}
@media(max-width: 480px){
    .flex{
display: none;
    }
}

.flex-home{
    display: flex;
}



.home {
width: 50%;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #0F2D4A;
padding: 0px;
}
@media(max-width: 480px){
    .home{
font-size: 14px;
line-height: 19px;
    }
}



.working {
width: 50%;

}

.working p b{
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #0F2D4A;
margin-bottom: 7px;
}
@media(max-width: 480px){
    .working p b{
font-size: 14px;
line-height: 17px;
    }
}


.working p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #0F2D4A;
}
@media(max-width: 480px){
    .working p{
        font-size: 14.2648px;
        line-height: 19px;
    }
}

.working p:first-child{
    margin-bottom: 7px;
}

.block-contacts {
    width: 50%;
}
@media(max-width: 992px){
    .block-contacts {
        padding-left: 40px;
     }
    }
    @media(max-width: 480px){
        .block-contacts {
            width: 100%;
            margin-top: 44px;
            padding-left: 0px;
         }
        }
/* ****250 */
.home p:not( :last-child )  {
    margin-bottom: 27px;
}

/* ****14 */
.contact-icon-footer{
    display: flex;
    flex-direction: column;
}


.home li:hover{
    color: white;
    cursor: pointer;
}
.home-language{
    position: relative;
    display: flex;
    justify-content: space-between;
   width: 72px;
}
@media(max-width: 992px){
    .home-language {
      
     }
    }
    @media(max-width: 480px){
        .home-language {
            width: 53px;
         }
        }

.home-language::after{
    content: "";
    position: absolute;
    width: 0px;
    height: 24px;
    top: -3px;
    left: 34px;
    border: 1px solid #1B1D1F;
}
@media(max-width: 992px){
    .home-language::after {
      
     }
    }
    @media(max-width: 480px){
        .home-language::after {
          left: 26px;
         }
        }


.home-language li:hover{
    font-weight: 900;
}



.contacts {
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
    color: #FFFFFF;
    margin-left: 10px;
    margin-bottom: 20px;
}
@media(max-width: 480px){
    .contacts{
     font-size: 21px;
     line-height: 25px;
    }
}

.contacts-nikola {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #FFFFFF;
margin-bottom: 15px;
}
@media(max-width: 480px){
    .contacts-nikola{
     font-size: 21px;
     line-height: 25px;
     margin-bottom: 13px;
    }
}

.contacts-address {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #FFFFFF;
margin-bottom: 20px;
}
@media(max-width: 480px){
    .contacts-address{
   font-size: 17.1613px;
   line-height: 23px;
    }
}


.title-icons-footer {
    text-decoration: none;
    width: 190px;
position: relative;
display: flex;
flex-direction: row;
align-items: center;
color: white;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #FFFFFF;
margin-bottom: 10px;
left: 30px;
}
@media(max-width: 480px){
    .title-icons-footer {
 font-size: 17.1613px;
 line-height: 23px;
     }
 }
/* 14**************** 271 */
.title-icons-footer:hover:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: white;
} 

.title-icons-footer.phone::before{
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    background-image: url(../img/phoneMobileFoofer.svg);
    background-size: contain;
    top: 0px;
    left: -30px;
}

.title-icons-footer.instagram::before{
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    background-image: url(../img/instagramMobileFoofer.svg);
    background-size: contain;
    top: 0px;
    left: -30px;
}
.title-icons-footer.instagram:hover::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 50%;
    height: 2px;
    background-color: white;
}

.title-icons-footer.mailto::before{
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url(../img/EmailMobileFoofer.svg);
    background-size: contain;
    top: 0px;
    left: -30px;
}
/* end */

.img-margin {
    margin-right: 15px;
}
@media(max-width: 480px){
   .title-icons-footer .img-margin{
  width: 24px;
  height: 24px;
  margin-right: 12px;
    }
}

@media(max-width: 480px){
    .title-icons-footer .img-margin.email{
   width: 27px;
   height: 27px;
   margin-right: 12px;
     }
 }

.icons-footer{
    display: flex;
}
@media(max-width: 480px){
    .icons-footer{
 display: none;
    }
}

.copyright {
display: flex;
justify-content: center;
color: white;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 17px;
}
@media(max-width: 480px){
    .copyright{
 font-size: 11.1548px;
 line-height: 15px;
padding-top: 26px;
justify-content: end;
    }
}




